<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>飘麦网--在线购票</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body background="image/bk1.png">

<!--导航栏开始-->
<nav th:replace="components/components :: header"></nav>
<!--导航栏结束-->

<!---->
<div class="container-fluid" style="background: #5bc0de">
    <div class="row">
        <h1 th:inline="text" style="text-align: center"><span id="uname">[[${#httpServletRequest.remoteUser}]]</span> 购票</h1>
        <br>
        <br>
        <br>

        <div class="col-lg-3 " style="text-align: center" id="pinfodiv"></div>
        <div class="col-lg-5" style="text-align: center">
            <form>
                <div class="form-group">
                    <label for="pname">选择演出</label>
                    <select class="form-control" id="pname">
                        <option>演出未选择</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pseat">座位等级</label>
                    <select class="form-control" id="pseat">
                        <option style="display: none">座位类型未选择</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="snum">座位数量</label>
                    <input type="text" id="snum">
                </div>
            </form>
            <button type="submit" id="submit" class="btn btn-default">确认</button>
            <div id="seatcanpick" style="display: none">

            </div>
        </div>
        <div class="col-lg-4 " style="text-align: center" id="paydiv">
        </div>
        <br>
        <br>
        <br>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
    window.onload=function (ev) {

        var link="/api/members/listplayslater";
        // alert(link);
        var req=new XMLHttpRequest();
        req.open("GET",link,true);
        req.send();
        req.onreadystatechange=function () {
            if (req.readyState == 4 && this.status == 200) {
                // alert(req.responseText);
                var pnameSelect=document.getElementById("pname");
                pnameSelect.innerHTML="<option style='display: none'>演出未选择</option>\r\n";
                var plays = eval(req.responseText);
                for(var i=0;i<plays.length;i++){
                    pnameSelect.innerHTML+="                        <option>"+plays[i].pname+"</option>\r\n";
                }
            }
        };
    }

    //选择演出之后的js 包括跳出座位等级选择，显示演出信息等。
    var pnameSelect=document.getElementById("pname");
    pnameSelect.onchange=function (ev) {
        var link="/api/members/viewplayinfo?pname="+pnameSelect.value;
        var req=new XMLHttpRequest();
        req.open("GET",link,true);
        req.send();
        req.onreadystatechange=function () {
            if (req.readyState == 4 && this.status == 200) {
                var playinfo=eval(req.responseText);
                var pinfodiv=document.getElementById('pinfodiv');
                pinfodiv.innerHTML= "<h3>演出名称： <span style='color: blueviolet'>"+playinfo[0].pname+"</span></h3>\n"+
                    "<h3>演出场馆： <span style='color: blueviolet'>"+playinfo[0].vname+"</span></h3>\n"+
                    "<h3>演出厅次： <span style='color: blueviolet'>"+playinfo[0].hname+"</span></h3>\n"+
                    "<h3>演出日期： <span style='color: blueviolet'>"+playinfo[0].pdate+"</span></h3>\n"+
                    "<h3>演出时间： <span style='color: blueviolet'>"+playinfo[0].ptime+"</span></h3>\n"+
                    "<h3>演出类型： <span style='color: blueviolet'>"+playinfo[0].ptype+"</span></h3>\n"+
                    "<h3>演出简介： <span style='color: blueviolet'>"+playinfo[0].pinfo+"</span></h3>\n"+
                    "<h3>座位价格</h3>\n";
                var pseatSelect=document.getElementById("pseat");
                pseatSelect.innerHTML="<option style='display: none'>座位类型未选择</option>\n";
                for(var i=0;i<playinfo.length;i++){
                    //座位价格在 id为stype的元素的text中。
                    pinfodiv.innerHTML+="<h3>"+playinfo[i].stype+"—<span id=\""+playinfo[i].stype+"\">"+playinfo[i].fares+"</span></h3>"
                    pseatSelect.innerHTML+="<option>"+playinfo[i].stype+"</option>\n";
                }
            }
        };
        return false;
    }


    //确定演出 座位等级和数量之后的js
    var submitButton=document.getElementById("submit");
    submitButton.onclick=function (ev) {
        var stype=document.getElementById("pseat").value;
        var seatfare=document.getElementById(stype).innerText;
        var snum=document.getElementById("snum").value;
        //售价
        window.charge=seatfare*snum;
        window.topay=charge;

        var seatcanpickDiv=document.getElementById("seatcanpick");
        seatcanpickDiv.setAttribute("style","display:none");

        var uname=document.getElementById("uname").innerText;
        var link="/api/members/showtickets?uname="+uname;
        var req=new XMLHttpRequest();
        req.open("GET",link,true);
        req.send();

        req.onreadystatechange=function () {
            if (req.readyState == 4 && this.status == 200) {
                var tickets=eval(req.responseText);
                window.ticketsglobal=tickets;
                var html="";

                var paydiv=document.getElementById("paydiv");
                html+="\n" +
                    "            <form>\n" +
                    "                <div class=\"form-group\">\n" +
                    "                    <label for=\"ticket\">使用优惠券</label>\n" +
                    "                    <select class=\"form-control\" id=\"ticket\">\n" +
                    "                        <option>不使用优惠卷</option>\n";
                for(var i=0;i<tickets.length;i++){
                    html+="                        <option >"+tickets[i].ticketname+"</option>\n";
                }
                html += "                    </select>\n" +
                    "                </div>\n" +
                    "                <div class=\"form-group\">\n" +
                    "                    <label for=\"pickseat\">是否选座</label>\n" +
                    "                    <select class=\"form-control\" id=\"pickseat\">\n" +
                    "                        <option selected>不选座</option>\n" ;
                if(snum<=7){
                    html+="                        <option id='xuanzuo'>选座</option>\n";
                }
               html+= "                    </select>\n" +
                       "<div class=\"form-group\" style='display: none' id='seatschosendiv'>\n" +
                   "                    <label for=\"seatschosen\">选择的座位</label>\n" +
                   "                    <input type=\"text\" class=\"form-control\" id=\"seatschosen\" placeholder=\"请先点击“显示可选座位” 可以直接从左侧复制 比如 3-3,3-4,3-5,3-6 如超过所输座位数量则取前面的\">\n" +
                   "                </div>"+
                    "                </div>\n" +
                    "                <div class=\"form-group\">\n" +
                    "                    <label for=\"paykey\">支付密码</label>\n" +
                    "                    <input type=\"text\" id=\"paykey\">\n" +
                    "                </div>\n";
                html+= "                <h3>售价共计 "+charge+"元，实际需要支付 <span id='topay'>"+charge+"</span>元</h3>\n" +
                    "            </form>\n" +
                    "            <button type=\"submit\" id=\"pickseats\" class=\"btn btn-default\" style='display: none'>显示可选座位</button>"+
                    "            <button type=\"submit\" id=\"pay\" class=\"btn btn-default\">确认支付</button>";

                paydiv.innerHTML=html;


                //设置监听器
                var ticketUse=document.getElementById("ticket");
                ticketUse.onchange=ticketChange;

                var pickseatSelect=document.getElementById("pickseat");
                pickseatSelect.onchange=function (ev2) {
                    if(pickseatSelect.value=="选座"){
                        document.getElementById("pickseats").setAttribute("style","");
                        document.getElementById('seatschosendiv').setAttribute("style","");
                    }else{
                        document.getElementById("pickseats").setAttribute("style","display: none");
                        document.getElementById("seatschosendiv").setAttribute("style","display: none");
                        document.getElementById("seatcanpick").setAttribute("style","display: none");
                    }
                }

                var pickseatsButton=document.getElementById("pickseats");
                pickseatsButton.onclick=function (ev2) {
                    var seatcanpickDiv=document.getElementById("seatcanpick");
                    seatcanpickDiv.setAttribute("style","");

                    var link="/api/members/leftseats?pname="+document.getElementById("pname").value+"&stype="+document.getElementById("pseat").value;
                    var req=new XMLHttpRequest();
                    req.open("GET",link,true);
                    req.send();

                    req.onreadystatechange=function () {
                        if (req.readyState == 4 && this.status == 200) {
                            // alert(req.responseText);
                            var seats=eval(req.responseText);
                            var oldrow="";
                            var html="<h3>可选座位如下";
                            for(var i=0;i<seats.length;i++){
                                if(oldrow!=seats[i].row){
                                    html+="</h3><h3>";
                                    oldrow=seats[i].row;
                                }
                                html+=seats[i].row+"-"+seats[i].col+",";
                            }
                            html+="</h3>";
                            seatcanpickDiv.innerHTML=html;
                        }
                    }
                    return false;
                }


                var paySubmit=document.getElementById("pay");
                paySubmit.onclick=function (ev2) {
                    //todo:编写确认提交的js请求。
                    //要提交的信息：paykey uname pname seatnum charge pay ticketname seats paykey

                    var paykey=document.getElementById("paykey").value;
                    var uname=document.getElementById("uname").innerText;
                    var pname=document.getElementById("pname").value;
                    var stype=document.getElementById('pseat').value;
                    var seatnum=document.getElementById('snum').value;
                    var pickseat=document.getElementById('pickseat').value;
                    var charge=window.charge;
                    var pay=window.topay;
                    var ticketname=document.getElementById("ticket").value;
                    var seats=document.getElementById("seatschosen").value;
                    var params="ismember=true&uname="+uname+"&paykey="+paykey+"&pname="+pname+"&stype="+stype+"&seatnum="+seatnum+"&pickseat="+pickseat+"&charge="+charge+"&pay="+pay+"&ticketname="+ticketname+"&seats="+seats;


                    var xmlhttp=new XMLHttpRequest();
                    xmlhttp.open("POST","/api/members/order",true);
                    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    xmlhttp.send(params);

                    xmlhttp.onreadystatechange=function () {
                        if (xmlhttp.readyState == 4 && this.status == 200) {
                            alert(xmlhttp.responseText);
                        }
                    }
                    return false;
                }
            }
        }
        return false;
    }

    function ticketChange(ev) {
        for(var i=0;i<window.ticketsglobal.length;i++){
            if(window.ticketsglobal[i].ticketname==document.getElementById("ticket").value){
                if(window.charge>window.ticketsglobal[i].param0){
                    if(window.ticketsglobal[i].type=="立减"){
                        window.topay=charge-window.ticketsglobal[i].param1;
                    }
                    if(window.ticketsglobal[i].type=="折扣"){
                        window.topay=charge*window.ticketsglobal[i].param1;
                    }
                }
                break;
            }
        }
        if("不使用优惠卷"==document.getElementById("ticket").value){
            window.topay=charge;
        }
        document.getElementById("topay").innerText=topay;
    }
</script>
</body>
</html>