<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>飘麦网--在线购票</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body background="image/bk1.png">

<!--导航栏开始-->
<nav th:replace="components/components :: header"></nav>
<!--导航栏结束-->

<!---->
<div class="container-fluid">
    <div class="row">
        <h1 th:inline="text" style="text-align: center"><span id="vname">[[${#httpServletRequest.remoteUser}]]</span> 选座购票</h1>
        <br>
        <br>
        <br>
        <div class="col-lg-6 col-lg-offset-3" style="background: #5bc0de;text-align: center">
            <!--发布计划部分-->
            <form>
                <div class="form-group">
                    <label for="pname">选择演出</label>
                    <select class="form-control" id="pname">
                        <option>演出未选择</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pseat">选择座位</label>
                    <select class="form-control" id="pseat">
                        <option style="display: none">座位类型未选择</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="snum">座位数量</label>
                    <input type="text" id="snum">
                </div>
            </form>
            <button type="submit" id="submit" class="btn btn-default">确认发布</button>
            <!--发布计划部分结束-->
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 " style="background: #5bc0de;text-align: center" id="pinfodiv">

            </div>
        </div>
    </div>
    <div class="row">
        <br/>
        <br/>
        <br/>
        <div class="col-lg-6 col-lg-offset-3" style="background: #5bc0de;text-align: center">
            <h1>也许是最好的票务网站</h1>
            <h2>10家大型场馆</h2>
            <h3>日均100<span style="font-weight: bolder">赛事、演唱会、电影</span></h3>
            <hr/>
            <h1>Maybe the best booking website</h1>
            <h2>10 giant Venues</h2>
            <h3>100<span style="font-weight: bolder">赛事、演唱会、电影</span> perday</h3>
            <hr/>
            <img src="/image/pig.png" class="img-responsive">
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
    window.onload=function (ev) {

        var link="/api/members/listplayslater";
        // alert(link);
        var req=new XMLHttpRequest();
        req.open("GET",link,true);
        req.send();
        req.onreadystatechange=function () {
            if (req.readyState == 4 && this.status == 200) {
                // alert(req.responseText);
                var pnameSelect=document.getElementById("pname");
                pnameSelect.innerHTML="<option style='display: none'>演出未选择</option>\r\n";
                var plays = eval(req.responseText);
                for(var i=0;i<plays.length;i++){
                    pnameSelect.innerHTML+="                        <option>"+plays[i].pname+"</option>\r\n";
                }
            }
        };
    }

    var pnameSelect=document.getElementById("pname");
    pnameSelect.onchange=function (ev) {
        var link="/api/members/viewplayinfo?pname="+pnameSelect.value;
        var req=new XMLHttpRequest();
        req.open("GET",link,true);
        req.send();
        req.onreadystatechange=function () {
            if (req.readyState == 4 && this.status == 200) {
                var playinfo=eval(req.responseText);
                var pinfodiv=document.getElementById('pinfodiv');
                pinfodiv.innerHTML= "<h3>演出名称： <span style='color: blueviolet'>"+playinfo[0].pname+"</span></h3>\n"+
                    "<h3>演出场馆： <span style='color: blueviolet'>"+playinfo[0].vname+"</span></h3>\n"+
                    "<h3>演出厅次： <span style='color: blueviolet'>"+playinfo[0].hname+"</span></h3>\n"+
                    "<h3>演出日期： <span style='color: blueviolet'>"+playinfo[0].pdate+"</span></h3>\n"+
                    "<h3>演出时间： <span style='color: blueviolet'>"+playinfo[0].ptime+"</span></h3>\n"+
                    "<h3>演出类型： <span style='color: blueviolet'>"+playinfo[0].ptype+"</span></h3>\n"+
                    "<h3>演出简介： <span style='color: blueviolet'>"+playinfo[0].pinfo+"</span></h3>\n"+
                    "<h3>座位价格</h3>\n";
                var pseatSelect=document.getElementById("pseat");
                pseatSelect.innerHTML="<option style='display: none'>座位类型未选择</option>\n";
                for(var i=0;i<playinfo.length;i++){
                    //座位价格在 id为stype的元素的text中。
                    pinfodiv.innerHTML+="<h3>"+playinfo[i].stype+"—<span id=\""+playinfo[i].stype+"\">"+playinfo[i].fares+"</span></h3>"
                    pseatSelect.innerHTML+="<option>"+playinfo[i].stype+"</option>\n";
                }


            }
        };
        return false;
    }
</script>
</body>
</html>