<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>飘麦网--场馆统计信息</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body background="image/bk1.png">

<!--导航栏开始-->
<nav th:replace="components/components :: header"></nav>
<!--导航栏结束-->

<!---->
<div class="container-fluid">
    <div class="row">
        <br>
        <br>
        <br>
        <div  class="col-lg-6 col-lg-offset-3" style="background: #5bc0de;text-align: center">
            <h3>已支付订单</h3>
            <table class="table table-striped" >
                <tr>
                    <th>用户名</th>
                    <th>表演</th>
                    <th>订单状态</th>
                    <th>座位数</th>
                    <th>座位已安排</th>
                    <th>订票时间</th>
                    <th>售价</th>
                    <th>实际支付</th>
                    <th>使用优惠券</th>
                </tr>
                <tbody id="paiedholder">
                </tbody>

            </table>
        </div>
        <div  class="col-lg-6 col-lg-offset-3" style="background: #5bc0de;text-align: center">
            <h3>未支付订单</h3>
            <table class="table table-striped" >
                <tr>
                    <th>用户名</th>
                    <th>表演</th>
                    <th>订单状态</th>
                    <th>座位数</th>
                    <th>座位已安排</th>
                    <th>订票时间</th>
                    <th>售价</th>
                    <th>实际支付</th>
                    <th>使用优惠券</th>
                </tr>
                <tbody id="unpaiedholer">
                </tbody>
            </table>
        </div>
        <div  class="col-lg-6 col-lg-offset-3" style="background: #5bc0de;text-align: center">
            <h3>已取消订单</h3>
            <table class="table table-striped" >
                <tr>
                    <th>用户名</th>
                    <th>表演</th>
                    <th>订单状态</th>
                    <th>座位数</th>
                    <th>座位已安排</th>
                    <th>订票时间</th>
                    <th>售价</th>
                    <th>实际支付</th>
                    <th>使用优惠券</th>
                </tr>
                <tbody id="canceledholder">
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-lg-offset-3" style="background: #5bc0de;text-align: center">
            <h3>已完成订单</h3>
            <table class="table table-striped" >
                <tr>
                    <th>用户名</th>
                    <th>表演</th>
                    <th>订单状态</th>
                    <th>座位数</th>
                    <th>座位已安排</th>
                    <th>订票时间</th>
                    <th>售价</th>
                    <th>实际支付</th>
                    <th>使用优惠券</th>
                </tr>
                <tbody id="compeletedholder">
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-lg-offset-3" style="background: #5bc0de;text-align: center">
            <h3>已结算订单</h3>
            <table class="table table-striped" >
                <tr>
                    <th>用户名</th>
                    <th>表演</th>
                    <th>订单状态</th>
                    <th>座位数</th>
                    <th>座位已安排</th>
                    <th>订票时间</th>
                    <th>售价</th>
                    <th>实际支付</th>
                    <th>使用优惠券</th>
                </tr>
                <tbody id="getmoneyholer">
                </tbody>
            </table>
        </div>


        <div class="col-lg-6 col-lg-offset-3" style="background: #5bc0de;text-align: center">
            <h1>也许是最好的票务网站</h1>
            <h2>10家大型场馆</h2>
            <h3>日均100<span style="font-weight: bolder">赛事、演唱会、电影</span></h3>
            <hr/>
            <h1>Maybe the best booking website</h1>
            <h2>10 giant Venues</h2>
            <h3>100<span style="font-weight: bolder">赛事、演唱会、电影</span> perday</h3>
            <hr/>
            <img src="image/pig.png" class="img-responsive">
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
    vname=document.getElementById("unamespan").innerText;

    window.onload=function (ev) {
        var req=new XMLHttpRequest();
        link="/api/orders/listordersbyvenues?vname="+vname;
        req.open("GET",link,true);
        req.send();
        var paiedholder=document.getElementById("paiedholder");
        var unpaiedholer=document.getElementById("unpaiedholer");
        var canceledholder=document.getElementById("canceledholder");
        var compeletedholder=document.getElementById("compeletedholder");
        var getmoneyholer=document.getElementById("getmoneyholer");

        req.onreadystatechange=function (ev2) {
            if(req.readyState==4&&this.status==200){
                var orders=eval("("+req.responseText+")");
                for(var i=0;i<orders.length;i++){
                    if(orders[i].state=="已支付"){
                        paiedholder.innerHTML+="<tr>\n" +
                            "                    <td>"+orders[i].uname+"</td>\n" +
                            "                    <td>"+orders[i].pname+"</td>\n" +
                            "                    <td>"+orders[i].state+"</td>\n" +
                            "                    <td>"+orders[i].seatnum+"</td>\n" +
                            "                    <td>"+orders[i].seatarranged+"</td>\n" +
                            "                    <td>"+orders[i].booktime+"</td>\n" +
                            "                    <td>"+orders[i].charge+"</td>\n" +
                            "                    <td>"+orders[i].pay+"</td>\n" +
                            "                    <td>"+orders[i].ticketname+"</td>\n" +
                            "                </tr>";
                    }
                    if(orders[i].state=="未支付"){
                        unpaiedholer.innerHTML+="<tr>\n" +
                            "                    <td>"+orders[i].uname+"</td>\n" +
                            "                    <td>"+orders[i].pname+"</td>\n" +
                            "                    <td>"+orders[i].state+"</td>\n" +
                            "                    <td>"+orders[i].seatnum+"</td>\n" +
                            "                    <td>"+orders[i].seatarranged+"</td>\n" +
                            "                    <td>"+orders[i].booktime+"</td>\n" +
                            "                    <td>"+orders[i].charge+"</td>\n" +
                            "                    <td>"+orders[i].pay+"</td>\n" +
                            "                    <td>"+orders[i].ticketname+"</td>\n" +
                            "                </tr>";
                    }
                    if(orders[i].state=="已取消"){
                        canceledholder.innerHTML+="<tr>\n" +
                            "                    <td>"+orders[i].uname+"</td>\n" +
                            "                    <td>"+orders[i].pname+"</td>\n" +
                            "                    <td>"+orders[i].state+"</td>\n" +
                            "                    <td>"+orders[i].seatnum+"</td>\n" +
                            "                    <td>"+orders[i].seatarranged+"</td>\n" +
                            "                    <td>"+orders[i].booktime+"</td>\n" +
                            "                    <td>"+orders[i].charge+"</td>\n" +
                            "                    <td>"+orders[i].pay+"</td>\n" +
                            "                    <td>"+orders[i].ticketname+"</td>\n" +
                            "                </tr>";
                    }
                    if(orders[i].state.indexOf("已完成")>=0&&orders[i].state.indexOf("pay")<0){
                        compeletedholder.innerHTML+="<tr>\n" +
                            "                    <td>"+orders[i].uname+"</td>\n" +
                            "                    <td>"+orders[i].pname+"</td>\n" +
                            "                    <td>已完成</td>\n" +
                            "                    <td>"+orders[i].seatnum+"</td>\n" +
                            "                    <td>"+orders[i].seatarranged+"</td>\n" +
                            "                    <td>"+orders[i].booktime+"</td>\n" +
                            "                    <td>"+orders[i].charge+"</td>\n" +
                            "                    <td>"+orders[i].pay+"</td>\n" +
                            "                    <td>"+orders[i].ticketname+"</td>\n" +
                            "                </tr>";
                    }
                    if(orders[i].state.indexOf("pay")>=0){
                        getmoneyholer.innerHTML+="<tr>\n" +
                            "                    <td>"+orders[i].uname+"</td>\n" +
                            "                    <td>"+orders[i].pname+"</td>\n" +
                            "                    <td>已结算</td>\n" +
                            "                    <td>"+orders[i].seatnum+"</td>\n" +
                            "                    <td>"+orders[i].seatarranged+"</td>\n" +
                            "                    <td>"+orders[i].booktime+"</td>\n" +
                            "                    <td>"+orders[i].charge+"</td>\n" +
                            "                    <td>"+orders[i].pay+"</td>\n" +
                            "                    <td>"+orders[i].ticketname+"</td>\n" +
                            "                </tr>";
                    }
                }
            }
        }
    }


</script>
</body>
</html>